/* General */
.rz-body {
    padding: 0 !important;
}

/* Radzen Typography */
.rz-text-h4 {
    padding-bottom: 15px;
}

.rz-link {
    color: var(--rz-primary);
}

/* Radzen Layout */
.body-padding {
    padding: 1rem;
}

@media (max-width: 1023px) {
    .body-padding {
        padding: 0;
    }

    .hide-sm {
        display: none !important;
    }
}

.rz-header {
    padding: 15px;
    background-color: #FFF;
    box-shadow: none;
}

    .rz-header a, .rz-header a:hover, .rz-header a:focus {
        color: #000;
    }

    .rz-header .rz-link:hover .rz-link-text, .rz-header .rz-link:focus .rz-link-text {
        text-decoration: none;
    }

    .rz-header .rz-text-display-h6 {
        margin-bottom: 0;
    }

/* Radzen Card */
.rz-card {
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media (max-width: 1023px) {
    .rz-card {
        padding: 20px;
    }
}

/* Radzen ProgressBar */
.rz-progressbar {
    height: 20px;
    border-radius: 10px;
}

.rz-progressbar-value {
    border-radius: 10px;
}

/* Radzen Menu */
.rz-menu:not(.rz-profile-menu) {
    background-color: #FFF;
}

    .rz-menu:not(.rz-profile-menu) .rz-navigation-item-link .rzi:not(.rz-navigation-item-icon-children), .rz-menu-toggle, .rz-menu:not(.rz-profile-menu) .rz-navigation-item-link, .rz-menu:not(.rz-profile-menu) .rz-navigation-item-wrapper:hover .rz-navigation-item-link, .rz-menu-toggle:hover, .rz-menu:not(.rz-profile-menu) .rz-navigation-item-wrapper:hover .rz-navigation-item-link .rzi:not(.rz-navigation-item-icon-children) {
        color: #000;
    }
