@inject NavigationManager NavigationManager
@inject IContentService ContentService

@rendermode InteractiveServer

<RadzenCard Style="background-image: url('/images/profile-background.jpg'); background-size: cover; background-position: center;">
    <RadzenRow>
        <RadzenColumn Size="12" SizeMD="4">
            <img src="images/portrait.jpg" class="portrait" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="8">
            <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="25px;" Style="height: 100%;">
                <div style="text-align: center;">
                    <RadzenText TextStyle="TextStyle.H2" Style="color: #FFF;">@ContentService.GetValue("PROFILE_FULLNAME")</RadzenText>
                    <RadzenText TextStyle="TextStyle.H4" Style="color: #FFF;">@ContentService.GetValue("PROFILE_EMPLOYMENT")</RadzenText>
                </div>
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center ">
                    <RadzenButton Size="ButtonSize.Large" ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Text="Hire me"
                                  Click="@(() => NavigationManager.NavigateTo("#contact"))" />
                    <RadzenButton Size="ButtonSize.Large" ButtonStyle="ButtonStyle.Light" Variant="Variant.Outlined" Icon="file_download" Text="Download CV" />
                </RadzenStack>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

@code {

}