<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Style="height: 100%;">
    <div class="visible-small" style="font-size: 17pt; line-height: 0;">
        <RadzenLink Path="@Path"><RadzenIcon Icon="@Icon" /></RadzenLink>
    </div>
    <div class="visible-large">
        <RadzenLink Path="@Path" Text="@Text" />
    </div>
</RadzenStack>

@code {
    [Parameter]
    public required string Icon { get; set; }

    [Parameter]
    public required string Text { get; set; }

    [Parameter]
    public required string Path { get; set; }
}
