@inherits LayoutComponentBase

@inject IContentService ContentService

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow Style="height: 100%;">
            <RadzenColumn Size="0" SizeMD="2" />
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenStack Style="height: 100%;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenText TextStyle="TextStyle.DisplayH6">CV @ContentService.GetValue("PROFILE_FULLNAME") - Admin</RadzenText>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Right">
                        <RadzenLink Path="/Admin/Content" Text="Content" />
                        <RadzenLink Icon="logout" Path="/Account/Login" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="0" SizeMD="2" />
        </RadzenRow>
    </RadzenHeader>

    <RadzenBody>
        <div class="rz-p-4">
            <RadzenRow>
                <RadzenColumn Size="0" SizeMD="2" />
                <RadzenColumn Size="12" SizeMD="8">
                    @Body
                </RadzenColumn>
                <RadzenColumn Size="0" SizeMD="2" />
            </RadzenRow>
        </div>
    </RadzenBody>
</RadzenLayout>