@using Application.Services.Contents

@inherits LayoutComponentBase

@inject IContentService ContentService

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow Style="height: 100%;">
            <RadzenColumn Size="0" SizeMD="2" />
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenStack Style="height: 100%;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenLink Path="/">
                        <RadzenText TextStyle="TextStyle.DisplayH6">CV @FullName - Admin</RadzenText>
                    </RadzenLink>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Right">
                        <RadzenLink Path="/Admin/Content" Text="Content" />
                        <RadzenLink Path="/Admin/Hobbies" Text="Hobbies" />
                        <RadzenLink Path="/Admin/Skills" Text="Skills" />
                        <RadzenLink Path="/Admin/Experience" Text="Experience" />
                        <RadzenLink Path="/Admin/Education" Text="Education" />
                        <RadzenLink Style="font-size: 16pt;" Icon="logout" Path="/Account/Logout" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="0" SizeMD="2" />
        </RadzenRow>
    </RadzenHeader>

    <RadzenBody>
        <div class="body-padding">
            <RadzenRow>
                <RadzenColumn Size="0" SizeMD="2" />
                <RadzenColumn Size="12" SizeMD="8">
                    @Body
                </RadzenColumn>
                <RadzenColumn Size="0" SizeMD="2" />
            </RadzenRow>
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    private string FullName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        FullName = await ContentService.GetValueAsync("PROFILE_FULLNAME");
    }
}