@using Application.Services.Contents
@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

@inject IContentService ContentService

<RadzenComponents />

<div class="w-100">
    <AuthorizeView>
        <RadzenRow>
            <RadzenColumn Size="12" Style="text-align: center; background-color: darkslategray;">
                <RadzenLink Path="/Admin" Text="Admin" Style="color: white;" />
            </RadzenColumn>
        </RadzenRow>
    </AuthorizeView>
</div>
<RadzenLayout>
    <RadzenHeader>
        <RadzenRow Style="height: 100%;">
            <RadzenColumn Size="0" SizeMD="2" />
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenStack Style="height: 100%;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenText TextStyle="TextStyle.DisplayH6" Style="padding-top: 8px;">CV @FullName</RadzenText>
                    <HeaderLinks />
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="0" SizeMD="2" />
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody>
        <div class="body-padding">
            <RadzenRow>
                <RadzenColumn Size="0" SizeMD="1" SizeLG="2" />
                <RadzenColumn Size="12" SizeMD="10" SizeLG="8">
                    @Body
                </RadzenColumn>
                <RadzenColumn Size="0" SizeMD="1" SizeLG="2" />
            </RadzenRow>
        </div>
        <RadzenStack AlignItems="AlignItems.Center" Style="margin: 20px 0px;" Gap="5px">
            <RadzenText TextStyle="TextStyle.H5" Text="Ronnie Hartmann" />
            <RadzenText TextStyle="TextStyle.Caption" Text="V1.2.0" />
            <RadzenLink Path="https://github.com/ronniehartmann/NetCV" Text="GitHub Repository" />
        </RadzenStack>
    </RadzenBody>
</RadzenLayout>

@code {
    private string FullName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        FullName = await ContentService.GetValueAsync("PROFILE_FULLNAME");
    }
}